/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color-scheme:dark light;
}

body {
    background: radial-gradient(circle at center, #000000,#1b1b1b,#000000);
    background-size: 500% 400%;
    animation: gradientFlow 40s ease infinite;  
  }
  
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }